<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ordy.app">

    <!-- Permission to connect to the internet for fetching data from the backend API. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to read from storage for bills -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Permission to use the camera for taking bill pictures. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.ordy.app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <!-- Testing -->
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
      
        <!-- Firebase Messaging -->
        <service
            android:name=".services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
      
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Login Activity -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Create order activity -->
        <activity
            android:name=".ui.orders.create.CreateOrderActivity"
            android:label="@string/title_create_order"
            android:parentActivityName=".MainActivity" />

        <!-- Create order select location activity -->
        <activity
            android:name=".ui.orders.create.location.CreateOrderLocationDialog"
            android:label="@string/title_create_order"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.orders.create.CreateOrderActivity" />

        <!-- Overview order activity -->
        <activity
            android:name=".ui.orders.overview.OverviewOrderActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />

        <!-- Add item order activity -->
        <activity
            android:name=".ui.orders.overview.additem.AddItemOrderActivity"
            android:parentActivityName=".ui.orders.overview.OverviewOrderActivity" />

        <!-- Create group activity -->
        <!-- WindowsSoftInputMode is done to show the SnackBar above the keyboard -->
        <activity
            android:name=".ui.groups.create.CreateGroupActivity"
            android:label="@string/title_create_group"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Invite member activity -->
        <activity
            android:name=".ui.groups.invite.InviteMemberActivity"
            android:label="@string/title_invite_member"
            android:parentActivityName=".MainActivity" />

        <!-- Overview group activity -->
        <activity
            android:name=".ui.groups.overview.OverviewGroupActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Profile activity -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/title_profile"
            android:parentActivityName=".MainActivity" />

        <!-- Settings activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>